/*#################################### FONT ####################################*/



@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Satisfy);


/*#################################### FONT ####################################*/

/*#################################### GENERAL ####################################*/

:root{
	--d: 0px;
}

body,html {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 0;
  font-family: "Montserrat";
  font-size: 2vw;
  z-index: -1;
  position: fixed;
 }
 
 input::placeholder {
	text-align: left;
	justify-content: center;
	align-content: center;
	/*transform: scale(0.6);
	transform-origin: 0% 50%;*/
	font-family: "Montserrat";
	font-size: 1vw;
 }
 
a {
	color: #033d4d;
}

a:link, a:visited{
    color: #033d4d;
}

a:hover{
	color: white;
}

a:hover > .fa {
	color: white;
}

a:active{
    color: #033d4d;
}

a .fa{
	color: #033d4d;
	font-size: 1.1vw;
}

.limiter{
  width: 100%;
  height: 100%;
  margin: 0 0;
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 15% auto 15%;
  grid-template-areas: 
    ". menu utente"
    ". centro ."
    ". . logout";
  background: #FFFFFF url('images/sfondo3.jpg') no-repeat scroll center center;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
 }
 
.container {
  /*max-width: 100%;
  max-height: 100%;
  min-width: fit-content;
  min-height: fit-content;*/
  grid-area: centro;
  min-height: fit-content;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 0.8), rgba(150, 150, 150, 1) 90%);
  border-radius: 25px;
  margin: 0 0;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 15% 70% 15%;
  grid-template-areas: 
    ". sinistra_1 destra_1 ."
    ". sinistra_2 destra_2 ."
    ". sinistra_3 destra_3 .";
  z-index: 2;
}

.container2 {
  grid-area: centro;
  /*background: rgba(255, 255, 255, 0.80);*/
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 4%, rgba(255, 255, 255, 0.8), rgba(150, 150, 150, 1) 90%);
  /*border-radius: 25px;*/
  border-radius: var(--d) var(--d) 25px 25px;
  --d: 25px;
  margin: 0 0;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 25% auto 15%;
  grid-template-areas: 
    ". sinistra_1 destra_1 ."
    ". sinistra_2 destra_2 ."
    ". sinistra_3 destra_3 .";
  z-index: 2;
}

input:focus, textarea:focus{
	box-shadow: 0px 0px 10px 1px #003b41;
	border: 1px solid #003b41;
	
}

input:hover, textarea:hover, button:hover{
	box-shadow: 0px 0px 10px 1px #00748d;
	border: 1px solid #00748d;


}


button{
	font-size: 1.5vw;
	width: 100%;
	text-align: center;
	margin: auto;
	background: #6b82a8;
	height: 4vw;
	border-radius: 50px;
	color: white;
	border: none;
	outline: none;
	border-style: solid;
	border-color: #414086;
	border-width: 0.5px;
	font-family: "Montserrat";
	
}


input, textarea {
	width: 80%;
	border-radius: 50px;
	margin: 0px;
	padding: 0px;
	border-width: 0.5px;
	vertical-align: middle; 
	height: 4vw;
	background-color: #D7D5D5;
	font-size: 1.3vw;
	padding-left: 20%;
	outline: black;
	border-style: solid;
	border-color: #B6B5B5;
	font-family: "Montserrat";
}

img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.containerInput{
	width: 100%;
	display: grid;
	align-items: stretch;
	font-size: 1vw;
}

.containerSymbol{
	display: grid;
	align-items: stretch;
}

.fa {
	color: #6b82a8;
	font-size: 2vw;
}

/*#################################### GENERAL ####################################*/

/*#################################### LOGIN ####################################*/

.containerImmagine {
  grid-area: sinistra_2;
  width: 100%;

  height: fit-content;
  border-radius: 50px;
  background-color: antiquewhite;
  display: grid;
  justify-items: stretch;
  align-items: center;
  position: relative;
  animation-name: containerImmagineAnimazione;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes containerImmagineAnimazione{
	0% {box-shadow: 0 0 0 rgba(255, 207, 66, 0.1);}
	100% {box-shadow: 0 0 50px 4px rgba(0, 0, 0, 0.5);}
}

.containerLogin{
  width: 100%;
  max-height: 100%;
  min-height: fit-content;
  grid-area: destra_2;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 30% 60%;
  grid-template-areas:
  	". titolo ."
  	". form .";
  font-family: "Montserrat";
}

.containerLogin button{
	width: 50%;
}



.containerTitolo{
	grid-area: titolo;
	font-family: "Courgette";
	font-size: 3vw;
	color: #4F3F2B;
	display: grid;
	align-items: start;
}


.titoloRegistrazione {
	grid-column-start: 2; grid-column-end: 4; grid-row-start: 1; grid-row-end: 2;
	font-family: "Courgette";
	font-size: 3vw;
	color: #4F3F2B;
	position: relative;
	align-self: end;
}


.containerFormLogin{
	grid-area: form;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
}

.immagine {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  background-color: white;
  border-radius: 50px;
  grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 2;
}

.bottoneImmagine {
  transition: 0.3s ease;
  opacity: 0;
  position: relative;
  overflow: auto;
  grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 2;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  
}

.containerImmagine:hover .immagine {
  opacity: 0.1;
}

.containerImmagine:hover .bottoneImmagine {
  opacity: 1;
}

.testoBottoneImmagine {
  
  border-radius: 20px;
  color: black;
  font-size: 1.4vw;
  font-family: "Montserrat";
   text-align: justify;
  font-style: italic;
}

.containerRegistrati{
	grid-area: destra_3;
	align-self: start;
	font-family: "Montserrat";
	font-size: 1vw;
	padding: 0%;
	color: #4F3F2B;
}


/*#################################### LOGIN ####################################*/

/*#################################### REGISTRAZIONE ####################################*/

.centro{
	width: 100%;
	
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	justify-items: center;
	align-items: center;
}

.sinistra_1{
  grid-column-start: 1;
  grid-column-end: 2;
}

.destra_1{
  grid-column-start: 2;
  grid-column-end: 3;
}

.containerRegistr{
  width: 85%;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 30% 60% 10%;
  grid-template-areas:
  	". titolo ."
  	". form ."
  	". registrati .";
  font-family: "Montserrat";
  /*padding: 0.5vw 2vw;*/
  justify-items: center;
  align-items: center;
}

.containerFormRegistr{
	width: 85%;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: repeat(3, 1fr);
	justify-items: stretch;
	align-items: center;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
}

.accedi {
	grid-column-start: 2; grid-column-end: 4; grid-row-start: 3; grid-row-end: 4;
	font-family: "Montserrat";
	font-size: 1vw;
	position: relative;
	align-self: start;
}

/*#################################### REGISTRAZIONE ####################################*/

/*#################################### MENU ####################################*/

.containerMenu {
  grid-area: menu;
  justify-self: center;
  align-self: end;
  height: 40%;
  width: 100%;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  align-items: end;
  justify-items: center;
  z-index: 0;
}


.utente {
  /*grid-area: utente;*/
  height: 60%;
  align-self: center;
  text-align: center;
  font-family: "Courgette";
  grid-column-start: 2; grid-column-end: 4; grid-row-start: 1; grid-row-end: 2;
  display: grid;
  justify-items: end;
  align-items: start;
  padding-right: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
}

.logout {
  /*grid-area: utente;*/
  height: 80%;
  font-size: 43%;
  text-align: center;
  font-family: "Courgette";
  grid-column-start: 2; grid-column-end: 3; grid-row-start: 3; grid-row-end: 4;
  display: grid;
  justify-items: center;
  align-items: start;
  padding-top: 0px;
}

.logout button {
	margin: 0;
	width: 15%;
	height: 55%;
	border-radius: 0 0 15px 15px;
}

.menu{
	height: 100%;
	width: 10%;
	grid-column-start: 1; grid-column-end: 4; grid-row-start: 1; grid-row-end: 2;
	/*background-color: #6b82a8;*/
	background: linear-gradient(to bottom, #92aad2, #6b82a8, #6b82a8, #6b82a8, #495973);
	border-radius: 25px 25px var(--c) var(--c);
	--c: 0px;
	transition: width 2s;
	display: grid;
	align-items: center;
	justify-items: center;
}

.elementiMenu{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
	align-self: center;
	font-size: 1.5vw;
	color: white;
	width: 0%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
	justify-items: space-around;
	z-index: 1;
}

.sinistra{
	grid-column-start: 1; grid-column-end: 2; grid-row-start: 1; grid-row-end: 2;
}

.destra{
	grid-column-start: 3; grid-column-end: 4; grid-row-start: 1; grid-row-end: 2;
}

.linkMenu{
	grid-row-start: 1;
	grid-row-end: 2;
}

.sinistra .linkMenu:nth-child(n){
	/*border-right: 1px solid #bbb;*/
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-image:
	linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)) 1 100%;
}

.destra .linkMenu:nth-child(n){
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-image:
	linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0)) 1 100%;

}

.linkMenu:hover{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(75, 98, 135, 0.8), rgba(0, 0, 0, 0));
}

/*.destra .linkMenu:first-child{
	border-left: none;
}*/

.animazioneElementi{
	animation-name: animazioneElementiMenu;
	animation-delay: 0.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.animazioneMenu{
	animation-name: animazioneMenu;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.animazioneContenitore{
	animation-name: animazioneContainer;
	animation-delay: 0.1s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes animazioneElementiMenu{
	0% {width: 0%;}
	100%{width: 100%;}
}

@keyframes animazioneMenu{
	0% {width: 10%;}
	100%{width: 100%;}
}

@keyframes animazioneContainer{
	0% {border-radius: 25px;}
	/*75%{border-radius: 25px;}*/
	100%{border-radius: 0px 0px 25px 25px;}
}

/*#################################### MENU ####################################*/

/*#################################### ERRORE ####################################*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.errore {
  margin: 70px auto;
  padding: 20px;
  background: #FDF5E6;
  border-radius: 15px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}



.errore h2 {
  margin-top: 0.5vw;
  color: #e60000;
  font-family: "Questrial";
  font-size: 3vw;
  margin-bottom: 1.2vw;
}
.errore .close {
  position: absolute;
  top: 3px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.errore .close:hover {
  color: #808080;
}
.errore .content {
  max-height: 30%;
  overflow: auto;
  color: #e60000;
  font-family: "Questrial";
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

@media screen and (max-width: 700px){

  .errore{
    width: 70%;
  }
}

/*#################################### ERRORE ####################################*/

/*#################################### TABELLA ####################################*/

.containerTabella{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 4;
	width: 100%;
	height: 100%;
	overflow: hidden;
	word-break: break-word;
	font-size: 2.1vw;
	border-radius: 10px;
	
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 15% 75%;
}

.tabellaRighe3Col {
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: 100%;
	width: 100%;
	align-items: center;
}

.tabellaRighe5Col {
	display: grid;
	grid-template-columns: repeat(5, 33%);
	grid-template-rows: 100%;
	width: 100%;
	align-items: center;
}

.header {
	grid-row-start: 1;
	grid-row-end: span 1;
	grid-column-start: 1;
	grid-column-end: -1;
	background:  #6b82a8;
	font-size: 2.1vw;
	color: white;
	border-radius: 10px 10px 0 0;
}

.body {
	grid-row-start: 2;
	grid-row-end: span 1;
	grid-column-start: 1;
	grid-column-end: -1;
	overflow: auto;
	width: 100%;
}

.body::-webkit-scrollbar { 
    display: none;
}

.riga{
	font-size: 1.7vw;
	
}

.col1{
	grid-column-start: 1;
	grid-column-end: span 1;
}

.col2{
	grid-column-start: 2;
	grid-column-end: span 1;
}

.col3{
	grid-column-start: 3;
	grid-column-end: span 1;
}

.col4{
	grid-column-start: 4;
	grid-column-end: span 1;
}

.col5{
	grid-column-start: 5;
	grid-column-end: span 1;
}

.riga:last-child{
	border-radius: 0 0 10px 10px;
}

.riga:nth-child(even){
	background-color: rgba(255,255,255,0.7);
}

.riga:nth-child(odd){
	background-color: rgba(222, 227, 233, 0.7);
}

/*#################################### TABELLA ####################################*/

/*#################################### ACCOUNT ####################################*/

.containerFormAccount{
	width: 85%;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: repeat(4, 1fr);
	justify-items: stretch;
	align-items: center;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
}

/*#################################### ACCOUNT ####################################*/