<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PeopleFinder</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.controllo.utente.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistratiServlet</servlet-name>
    <servlet-class>it.controllo.utente.RegistratiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistratiServlet</servlet-name>
    <url-pattern>/registrati</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>it.controllo.utente.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllUtentiServlet</servlet-name>
    <servlet-class>it.controllo.amministratore.FindAllUtentiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUtentiServlet</servlet-name>
    <url-pattern>/findAllUtenti</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllGruppoServlet</servlet-name>
    <servlet-class>it.controllo.utente.FindAllGruppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllGruppoServlet</servlet-name>
    <url-pattern>/findAllGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindAllAttivitaServlet</servlet-name>
    <servlet-class>it.controllo.utente.FindAllAttivitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllAttivitaServlet</servlet-name>
    <url-pattern>/findAllAttivita</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AggiungiGruppoServlet</servlet-name>
    <servlet-class>it.controllo.utente.AggiungiGruppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiGruppoServlet</servlet-name>
    <url-pattern>/aggiungiGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AggiungiAttivitaServlet</servlet-name>
    <servlet-class>it.controllo.amministratore.AggiungiAttivitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiAttivitaServlet</servlet-name>
    <url-pattern>/aggiungiAttivita</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindByIdUtenteServlet</servlet-name>
    <servlet-class>it.controllo.utente.FindByIdUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdUtenteServlet</servlet-name>
    <url-pattern>/findByIdUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindGruppiByIdUtenteServlet</servlet-name>
    <servlet-class>it.controllo.utente.FindGruppiByIdUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindGruppiByIdUtenteServlet</servlet-name>
    <url-pattern>/findGruppiByIdUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindUtentiByIdGruppoServlet</servlet-name>
    <servlet-class>it.controllo.utente.FindUtentiByIdGruppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUtentiByIdGruppoServlet</servlet-name>
    <url-pattern>/findUtentiByIdGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteIscrizioneGruppoServlet</servlet-name>
    <servlet-class>it.controllo.utente.DeleteIscrizioneGruppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteIscrizioneGruppoServlet</servlet-name>
    <url-pattern>/deleteIscrizioneGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateGruppoServlet</servlet-name>
    <servlet-class>it.controllo.utente.UpdateGruppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGruppoServlet</servlet-name>
    <url-pattern>/updateGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUtenteServlet</servlet-name>
    <servlet-class>it.controllo.utente.UpdateUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUtenteServlet</servlet-name>
    <url-pattern>/updateUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AggiungiIscrizioneGruppoServlet</servlet-name>
    <servlet-class>it.controllo.utente.AggiungiIscrizioneGruppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiIscrizioneGruppoServlet</servlet-name>
    <url-pattern>/aggiungiIscrizioneGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <servlet-class>it.controllo.utente.UpdatePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordServlet</servlet-name>
    <url-pattern>/updatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatisticheServlet</servlet-name>
    <servlet-class>it.controllo.amministratore.StatisticheServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticheServlet</servlet-name>
    <url-pattern>/statistiche</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUtenteServlet</servlet-name>
    <servlet-class>it.controllo.utente.DeleteUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUtenteServlet</servlet-name>
    <url-pattern>/deleteUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGruppoServlet</servlet-name>
    <servlet-class>it.controllo.utente.DeleteGruppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGruppoServlet</servlet-name>
    <url-pattern>/deleteGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PopulateHomeUtenteServlet</servlet-name>
    <servlet-class>it.controllo.utente.PopulateHomeUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopulateHomeUtenteServlet</servlet-name>
    <url-pattern>/populateHomeUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountUtente</servlet-name>
    <servlet-class>it.controllo.utente.AccountUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUtente</servlet-name>
    <url-pattern>/accountUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestioneGruppiServlet</servlet-name>
    <servlet-class>it.controllo.utente.GestioneGruppiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneGruppiServlet</servlet-name>
    <url-pattern>/gestioneGruppi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UniscitiAgruppoServlet</servlet-name>
    <servlet-class>it.controllo.utente.UniscitiAgruppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UniscitiAgruppoServlet</servlet-name>
    <url-pattern>/uniscitiGruppo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProssimiEventiServlet</servlet-name>
    <servlet-class>it.controllo.utente.ProssimiEventiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProssimiEventiServlet</servlet-name>
    <url-pattern>/prossimiEventi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AbilitazioneUtenteServlet</servlet-name>
    <servlet-class>it.controllo.amministratore.AbilitazioneUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbilitazioneUtenteServlet</servlet-name>
    <url-pattern>/abilitazioneUtente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrivilegioAmministratoreServlet</servlet-name>
    <servlet-class>it.controllo.amministratore.PrivilegioAmministratoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrivilegioAmministratoreServlet</servlet-name>
    <url-pattern>/privilegioAmministratore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PanoramicaGruppiServlet</servlet-name>
    <servlet-class>it.controllo.amministratore.PanoramicaGruppiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PanoramicaGruppiServlet</servlet-name>
    <url-pattern>/panoramicaGruppi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AbilitazioneAttivitaServlet</servlet-name>
    <servlet-class>it.controllo.amministratore.AbilitazioneAttivitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbilitazioneAttivitaServlet</servlet-name>
    <url-pattern>/abilitazioneAttivita</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FiltroLogin</filter-name>
    <filter-class>it.controllo.filtri.FiltroLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroLogin</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltroAccessoUtente</filter-name>
    <filter-class>it.controllo.filtri.FiltroAccessoUtente</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAccessoUtente</filter-name>
    <url-pattern>/utente/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FiltroAccessoUtente</filter-name>
    <url-pattern>/amministratore/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltroAccessoAmministratore</filter-name>
    <filter-class>it.controllo.filtri.FiltroAccessoAmministratore</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAccessoAmministratore</filter-name>
    <url-pattern>/amministratore/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltroRegistrazione</filter-name>
    <filter-class>it.controllo.filtri.FiltroRegistrazione</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroRegistrazione</filter-name>
    <url-pattern>/registrati</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltroDuePassword</filter-name>
    <filter-class>it.controllo.filtri.FiltroDuePassword</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroDuePassword</filter-name>
    <url-pattern>/updatePassword</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FiltroDatiUtente</filter-name>
    <filter-class>it.controllo.filtri.FiltroDatiUtente</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroDatiUtente</filter-name>
    <url-pattern>/updateUtente</url-pattern>
  </filter-mapping>
</web-app>